.body{
	margin:0;
	padding:0;
	border: 0;
}


.abc{
	background-color: rgba(0, 0, 255, 0.1);
}

.abc1{
background-color: rgba(0, 0, 255, 0.3);
}

.abc2{
	background-color: rgba(0, 0, 255, 0.5);
}

.abc3{
	background-color: rgba(0, 0, 255, 0.7);
}

.abc4{
	background-color: rgba(0, 0, 255);
}

tr:nth-child(2) td:nth-child(2n){
	blackground-color: rgba(80, 80, 80, 0.3);
}

tr td:nth-child(2n+1){
	blackground-color: rgba(80, 80, 80, 0.1);
}