span td:nth-child(1){
	background-color: rgba(39,47,51, 0.1);

}

span td:nth-child(2){
background-color: rgba(39,47,51, 0.3);
}

span td:nth-child(3){
	background-color: rgba(39,47,51, 0.5);
}

span td:nth-child(4){
	background-color: rgba(39,47,51, 0.7);
}

span td:nth-child(5){
	background-color: rgba(39,47,51);
}